<div class="request">
  <span class="intro"> <%= intro_who %> </span>
  <span class="money"> <%= intro_verb %> </span>
  to see
  <span class="band"> <%= req.band_name %> </span>
  play in
  <span class="place"> <%= req.place %> </span>
</div>
