// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-status {
  position: absolute;
  top: 10px;
  right: 10px;
}

.request {
  font: {
    family: "Helvetica";
    size: 25px;
  }

  border: {
    style: solid;
    width: 2px;
  }

  display: inline-block;

  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;

  margin-top: 7px;

  .intro {
    color: brown;
  }

  .money {
    color: green;
  }

  .band {
    color: blue;
  }

  .place {
    color: purple;
  }
}

